/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
  font-size: clamp(1rem, 2vw, 3rem);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.6rem, 4vw, 7rem);
}

main {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.category img:hover {
  transform: scale(1.04);
}

/* links til category side */
h4 {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 3rem);
  padding-bottom: 1rem;
}

/* Søgefelt */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 20rem;
  background: white;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  border-radius: 10px;
}

.search-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .center-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .search-container {
    width: 35rem;
  }

  main {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
  }

  h4 {
    padding-bottom: 2rem;
  }
}
