/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
  font-size: clamp(1rem, 2vw, 3rem);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 5rem);
}

main {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 12rem;
}

a {
  text-decoration: none;
  color: black;
}

.category img:hover {
  transform: scale(1.04);
}

/* links til category side */
h4 {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 3rem);
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 15rem;
  }
}
