/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --hvid: #fffef9;
  --cream: #faf9f5;
  --orange: #e37c4b;
  --green: #749170;
}

/* specifikke fonte til specifikke html tags */
h1 {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2 {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h3 {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* billeder bliver sat til max-width 100% */
img {
  max-width: 100%;
}

/* baggrundsbillede på alle sider */
body {
  background-image: url("../img/baggrund.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* FOOTER */
.grid_1-2-2 p {
  font-family: "Sometype Mono", serif;
}

.grid_1-2-2 {
  margin-top: 2rem;
}

.footer_img img {
  width: 120px; /* Størrelsen på billedet kan justeres */
  height: auto; /* Bevarer billedets aspektforhold */
}

.footer_img {
  display: flex; /* Gør .footer_img til en flex container */
  justify-content: center; /* Centrerer billedet horisontalt */
  align-items: center; /* Centrerer billedet vertikalt */
  flex-direction: column; /* Gør, at billedet og teksten er stablet vertikalt */
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column; /* Gør footer-sektionen vertikal */
  justify-content: center; /* Centrerer footerindholdet horisontalt */
  padding: 20px;
  text-align: center; /* Centrerer al tekst i footer */
}

/* Grid til footer_info og newsletter */
.grid_info {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Skaber to kolonner i første række */
  gap: 15px; /* Skaber lidt afstand mellem kolonnerne */
  width: 100%; /* Gør grid'et bredt nok til at fylde containeren */
  max-width: 1200px; /* Begrænser bredden på grid'et */
}

/* Footer_info */
.footer_info {
  text-align: center; /* Centrerer teksten i .footer_info */
  line-height: 40px;
  font-size: 20px;
}

.footer_info p:hover {
  transform: scale(1.1);
}

.footer_info a {
  text-decoration: none;
  color: black;
  font-family: "Sometype Mono", serif;
  line-height: 2.8;
  font-size: 20px;
}

.instagram:hover {
  transform: scale(1.1);
}

.facebook:hover {
  transform: scale(1.1);
}

.newsletter {
  grid-column: 1 / span 2; /* Får newsletter til at fylde begge kolonner i anden række */
  text-align: center;
  padding: 8px 10;
  background-color: #faf9f5;
  border: 1px solid #749170;
  border-radius: 8px; /* Rundede hjørner */
  width: 90%; /* Gør kassen mindre ved at sætte en bredde */
  max-width: 600px; /* Begrænser bredden, så den ikke bliver for bred */
  margin: 0 auto; /* Centrerer kassen horisontalt */
  margin-bottom: 80px;
}

.newsletter p {
  line-height: 1.8;
}

.newsletter input {
  margin: 5px;
  padding: 10px;
  width: 80%;
  margin-top: 30px;
}

.cta-button {
  padding: 5px 30px;
  background-color: #749170;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
}

.cta-button:hover {
  transform: scale(1.1);
}

input {
  padding: 4px;
  margin: 4px 0;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
}

input::placeholder {
  color: black;
  text-align: right;
  font-family: "Sometype Mono", serif;
}

@media screen and (min-width: 768px) {
  /* FOOTER */
  .grid_1-2-2 {
    margin-top: 4rem;
  }

  /* Footer billede */
  .footer_img img {
    width: 180px;
    height: auto; /* Bevarer billedets aspektforhold */
  }

  .footer_img {
    margin-top: 25px; /* SKAL SLETTES */
  }

  footer {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row; /* Gør footer-sektionen vandret */
    justify-content: space-between; /* Placerer elementerne med plads imellem */
    align-items: flex-start; /* Justerer elementerne til toppen */
    padding: 10px; /* Reducer padding omkring hele footeren */
    text-align: center; /* Centrerer al tekst i footer */
  }

  /* Grid til footer_info og newsletter */
  .grid_info {
    display: flex;
    justify-content: space-between; /* Placerer de 3 sektioner vandret */
    gap: 15px; /* Skaber lidt afstand mellem kolonnerne */
    width: 100%;
    max-width: 1200px; /* Begrænser bredden på grid'et */
  }

  /* Footer_info */
  .footer_info {
    text-align: center; /* Centrerer teksten i .footer_info */
    flex: 1; /* Gør hver .footer_info til at fylde lige meget */
    padding: 0 10px; /* Reducerer padding */
  }

  .footer_info a {
    font-size: 22px;
  }
  .newsletter {
    text-align: center;
    padding: 8px 10px; /* Reducerer padding i newsletter */
    background-color: #faf9f5;
    border: 1px solid #749170;
    border-radius: 8px; /* Rundede hjørner */
    width: 270px; /* Reducerer bredden på kassen */
    margin-top: 10px; /* Mindre margin-top */
  }

  /* Newsletter tekst */
  .newsletter p {
    line-height: 1.8;
  }

  /* Newsletter input */
  .newsletter input {
    margin: 5px;
    padding: 8px; /* Reduceret padding */
    width: 79%;
    margin-top: 5px; /* Mindre margin-top */
  }

  /* Call to action button */
  .cta-button {
    padding: 5px 20px; /* Mindre padding på knappen */
    background-color: #749170;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px; /* Mindre margin-top */
  }
}
