h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 5vw;
  text-transform: uppercase;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 50px;
}

.id_card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  border: 1px solid #242424;
  padding: 10px;
  border-radius: 5px;
  background-color: #faf9f5;
}

.id_card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}

.id_card a {
  background-color: #749170;
  padding: 5px 20px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  text-decoration: none;
  color: #faf9f5;
  font-family: "Nunito", serif;
}

.id_card a:hover {
  transform: scale(1.1);
}

.filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #749170;
  padding: 5px 20px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  text-decoration: none;
  color: #faf9f5;
  font-family: "Nunito", serif;
  border: none;
  margin: 10px;
}
.button {
  background-color: #749170;
  padding: 5px 20px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  text-decoration: none;
  color: #faf9f5;
  font-family: "Nunito", serif;
}

button:hover {
  transform: scale(1.1);
}
